################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libraries/ObjectListView.Official.2.9.0
/libraries
/src/bin/Debug
/src/obj/Debug
